body{
    font-size: 22px;
    background-color: lightgrey;
    line-height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul{
    background-color: lightseagreen;
    height: 130px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    list-style: none;    
    /* display: flex; */
    line-height: 30px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
}

nav a{
    color: black;
    text-decoration: none;
}

body article{
    text-align: justify;
    /* margin-top: -20px; */
    margin-left: 50px;
    margin-right: 50px;  
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    /* width: 70px; */
    color: black;
    /* text-align: center; */
}


/* .ingredients{ */
/* color: darkturquoise; */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}
body div{
    display: flex;
}
img {
    /* display: block; */
    margin-top: 10px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 200px;
    height: 200px;
  }
#first{
    margin-left: 200px;
}

nav ul li{
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin:0 10px 0 10px ; */
    /* margin: top right bottom left; */
}

.ul_list{
    /* background-color: deeppink; */
    /* text-align: center; */

    color: black;
    margin-top: -20px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 100px; */
    /* background-color: saddlebrown; */
}

.ol_list{
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.otherol{
    
    margin-top: -20px;
    color: black;
    margin-left: 200px;
    margin-right: 100px;
}
.otherol a{
    color: black;
    text-decoration: none;
    color: black;
}

h4{
    background-color:lightcoral;
    width: 100%;
    color: blue;
    text-align: center;
    margin-top: 30px;
    /* margin-bottom: 1opx; */

}

/* If the browser window is 750px or larger, then the background color will be lightgrey */

/* If the browser window is  between 401px and 750px, the background color will be yellow: */
@media screen and (min-width: 401px) and (max-width: 750px){
        body{
            background: yellow;
            color: red;
        }
        image{
            width: auto;
            height: 200px;

        }
        #first{
            width: auto;
            width: 200px;
            height: 200px;
            margin-left: 0;
        }        
}
/* If the browser window is 400px or smaller, the background color will be olive */
@media screen and (max-width: 400px) {
        body {
          background-color: olive;
          color: white;
        }
        image{
            width: 200px;
            height: 200px;

        }
        #first{
            /* width: auto; */
            width: 200px;
            height: 200px;
            margin-left: 0;
        }
    }
  

/* source URL=https://www.w3schools
.com/css/default.asp */